html, body {
    background-color: #BC3B69;
    height: 100%;
    font-family: Roboto;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

h1 {
    text-align: center;
    font-size: 84px;
}

img {
    width: 800px;
    border: 5px solid white;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.75);
}

.arrow {
    font-size: 80px;
    color: white;
    margin: 0 30px;
    transition: .5s;
    cursor: pointer;
}

.arrow:hover {
    color: rgb(184, 184, 184);
}

.hidden {
    display: none;
}