html, body {
    background-color: #BC3B69;
    height: 100%;
    font-family: Roboto;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
}

h1 {
    font-size: 120px;
    height: 144px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 84px;
    color: white;
}

p {
    font-size: 32px;
    color: white;
    font-weight: 800;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    flex-grow: 1;
}

#counter {
    flex-grow: 1;
}

#laps {
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px;
    padding: 0 55px;
    flex-grow: 1;
}

.button {
    background-color: #bdc3c7;
    text-align: center;
    border-radius: 40px;
    padding: 10px 50px;
    line-height: 80px;
    font-size: 60px;
    user-select: none;
    margin-bottom: 20px;
    transition: .3s;
}

.button:hover {
    background-color: #a0a1a1
}